In [45]:

import sys
import os

import pymysql
import pandas as pd
import base64
import requests
import psycopg2 as pg2

In [34]:
drv <- dbDriver("PostgreSQL")
con <- dbConnect(drv, dbname = "mydb",
                 host = "database-2.chye2xy6xz7a.ap-northeast-2.rds.amazonaws.com",
                 port = 5432,
                 user = "postgres_test",
                 password = "mypassword")

In [35]:

host = "database-2.chye2xy6xz7a.ap-northeast-2.rds.amazonaws.com"
port = 5432
username = "postgres_test"
database = "mydb"
password = "mypassword"

In [47]:
conn=pg2.connect(database="mydb",
                 host="database-2.chye2xy6xz7a.ap-northeast-2.rds.amazonaws.com",
                 port="5432",
                 user="postgres_test",
                 password="mypassword"
                )

In [48]:
cur=conn.cursor()

In [60]:
cur.execute("SELECT * FROM rds_test_iris;")

In [61]:
pd.DataFrame(cur.fetchall())

       0    1    2    3    4          5
0      1  5.1  3.5  1.4  0.2     setosa
1      2  4.9  3.0  1.4  0.2     setosa
2      3  4.7  3.2  1.3  0.2     setosa
3      4  4.6  3.1  1.5  0.2     setosa
4      5  5.0  3.6  1.4  0.2     setosa
..   ...  ...  ...  ...  ...        ...
145  146  6.7  3.0  5.2  2.3  virginica
146  147  6.3  2.5  5.0  1.9  virginica
147  148  6.5  3.0  5.2  2.0  virginica
148  149  6.2  3.4  5.4  2.3  virginica
149  150  5.9  3.0  5.1  1.8  virginica

[150 rows x 6 columns]

In [57]:
cur.execute("CREATE TABLE Cars(Id INTEGER PRIMARY KEY, Name VARCHAR(20), Price INT)")

In [41]:
conn = pymysql.connect(host, user=username, passwd=password, db=database, port=port)

TypeError: __init__() takes 1 positional argument but 2 positional arguments (and 4 keyword-only arguments) were given

In [32]:
conn = pymysql.connect(host,user=username,passwd = password,db=database, port=port,use_unicode=True,charset ='utf8')
cursor = conn.cursor()

TypeError: __init__() takes 1 positional argument but 2 positional arguments (and 6 keyword-only arguments) were given

In [ ]:
def connect_RDS(host, port, username, password, database):
    try:
        conn = pymysql.connect(host, user=username, passwd)